# Basic Python

## 1. Split this string

In [19]:
name = "Hi there Sam!"

In [20]:
words= name.split()
for word in words:print(word)

Hi
there
Sam!

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742

In [4]:
output = "The diameter of {} is {} kilometers.".format(planet,diameter)
print(output)

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [6]:
level0 = d['k1']
level1 = level0[3]['tricky']
level2 = level1[3]['target']
level3 = level2[3]
print(level3)

hello

# Numpy

In [7]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [8]:
tenZeros = np.zeros(10)
for zero in tenZeros:print(zero,end = " ")
print()

0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0

In [9]:
tenFives = np.ones(10)
tenFives *= 5
for five in tenFives:print(five,end = " ")
print()

5.0 5.0 5.0 5.0 5.0 5.0 5.0 5.0 5.0 5.0

## 5. Create an array of all the even integers from 20 to 35

In [10]:
twentytothirtyfive = np.arange(20,36)
for number in twentytothirtyfive:print(number,end =" ")
print()

20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [11]:
onetonine = np.arange(0,9)
onetonine = onetonine.reshape(3,3)
for row in onetonine:
    for column in row:
        print(column,end =" ")
    print()

0 1 2
3 4 5
6 7 8

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [21]:
n1 = np.array([1, 2, 3]); n2 = np.array([4, 5, 6])
concat = np.concatenate((n1,n2))
print(concat)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [13]:
import pandas as pd

In [22]:
h = [[1,2],[3,4],[5,6]]
df = pd.DataFrame(h)
print(df)

   0  1
0  1  2
1  3  4
2  5  6

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [15]:
dates = pd.date_range(start = "01/01/2023", end = "10/02/2023")
print(dates)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [16]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [23]:
dataf = pd.DataFrame(lists)
print(dataf)

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24